:root {
    --background: #1f2336;
    --box-background: #313852;
    --secondary: #f1f1f1;
    --primary: #f4bd50;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    background-color: var(--background);
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .box {
    background-color: var(--box-background);
    padding: 24px;
    max-width: fit-content;
    width: 100%;
    padding-top: 12px;
    border-radius: 16px;
  }
  
  
   
.input_wrapper {
    position: relative;
    padding: 15px 0 0;
}
 
.input_field {
    outline: 1.5px solid var(--secondary);
    font-size: 1rem;
    border-radius: 8px;
    color: var(--secondary);
    padding: 8px;
    border: none;
    padding-right: 32px;
    background: transparent;
    transition: all 0.2s;
}

.input_field::placeholder {
    color: transparent;
}

.input_label {
    position: absolute;
    top: 18px;  
    padding: 4px;
    background-color: var(--box-background);
    display: block;
    font-size: 14px;
    left: 8px;
    color: var(--secondary);
    transition: 0.35s;
    pointer-events: none;  
}

.input_field:focus + .input_label,
.input_field:not(:placeholder-shown) + .input_label {
    top: 0px;
    font-size: 1rem;
    color: var(--primary);
}



